# Краткое описание

Данный ноутбук предназначен для того, чтобы проверять соответствие резюме заданным вакансиям

Система осуществляет подбор кандидату той вакансии, где он сможет наиболее полно раскрыть свой потенциал

Система использует взвешенную оценку семантичности текста для наиболее точного анализа

# Resume-vacancy analysis

In [169]:
import time
import pandas as pd
import json
import random as rd
import numpy as np
from sklearn.metrics import accuracy_score
import re 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [170]:
#!pip install dostoevsky
from dostoevsky.tokenization import RegexTokenizer
from dostoevsky.models import FastTextSocialNetworkModel

In [171]:
!python -m dostoevsky download fasttext-social-network-model

## Analysis

In [172]:
with open('drive/MyDrive/LD final/data_file_it.json') as f:
    data = json.load(f)

In [173]:
vacs = pd.read_csv('drive/MyDrive/LD final/vacancy_all_it.csv', index_col=0)
vacs = vacs['description']

In [174]:
res_list = []
for i in range(len(data)):
  resume = re.sub(r"[,\'{}\\\[\]]", "", str(data[i])).replace('xa0',' ')
  res_list.append(resume)

## Sentiment analysis for each resume and vacancy

In [175]:
res_list_for_sentiment = []
for res in data:
  text = res['skills']
  for i in range(len(res['experience'])):
    text = text + ' ' +res['experience'][i]['description']
  res_list_for_sentiment.append(text)

Emotion scoring

In [176]:
tokenizer = RegexTokenizer()
tokens = tokenizer.split('всё очень плохо')  # [('всё', None), ('очень', None), ('плохо', None)]

model = FastTextSocialNetworkModel(tokenizer=tokenizer)

results = model.predict(res_list_for_sentiment, k=2)
res_values = []
for res, sentiment in zip(res_list_for_sentiment, results):
    res_values.append([res_list_for_sentiment.index(res),sentiment])

In [177]:
for i in range(len(res_values)):  
  res_values[i][1] = 1 - res_values[i][1]['neutral']

In [178]:
res_values[0] #emotion score for data[0] resume

[0, 0.2942049503326416]

### Matching resumes

Some functions

emo_weight - это тот вес, который HR задаёт для оценки эмоциональной окраски текста.
Чем выше оценка, тем более "софтскильным" является кандидат

Там, где требуется искать более общительных кандидатов, стоит задавать большой вес для оценки семантичности текста

In [179]:
def index(textcv, textjd):
  '''
  Resume to vacancy score
  '''

  documents = [textjd, textcv]
  count_vectorizer = CountVectorizer()
  sparse_matrix = count_vectorizer.fit_transform(documents)
  doc_term_matrix = sparse_matrix.todense()
  df = pd.DataFrame(doc_term_matrix, 
              columns=count_vectorizer.get_feature_names(), 
              index=['textjd', 'textcv'])
  answer = cosine_similarity(df, df)
  answer = pd.DataFrame(answer)
  answer = answer.iloc[[1],[0]].values[0]
  answer = round(float(answer),4)*100

  return answer

In [180]:
def best_resume_vacancy_score(emo_weight):
  '''
  Searching vest resume for each vacancy
  '''

  best_match = []
  for i in range(len(vacs[:15])):
    vac = vacs[i]
    max_index = 0
    for k in range(len(res_list)):
      resume = res_list[k]
      index_temp = index(resume, vac)*(emo_weight*(1+res_values[k][1]))
      if index_temp > max_index:
        max_index = index_temp
        best_resume_number = k
    best_match.append([i, best_resume_number, max_index])

  return best_match

In [181]:
def all_resumes_to_vacancies(emo_weight):
  '''
  Function that creates dataframe with resume scores to all vacancies
  '''
  scores = []
  for i in range(len(res_list)):
    resume = re.sub(r"[,\'{}\\\[\]]", "", str(data[i])).replace('xa0',' ')
    indexes_temp = []
    for k in range(len(vacs[:20])):
      vac = vacs[k]
      index_temp = index(resume, vac)*(emo_weight*(1+res_values[k][1]))
      indexes_temp.append(index_temp)
    scores.append(indexes_temp)
  
  return pd.DataFrame(scores)

In [182]:
best_resume_vacancy_score(1.125)

[[0, 46, 65.20722660563887],
 [1, 46, 19.195639913901687],
 [2, 46, 67.72801252640784],
 [3, 327, 29.50002345710993],
 [4, 11, 37.099665012359615],
 [5, 11, 38.370571904182434],
 [6, 361, 32.03245085969567],
 [7, 11, 30.02855539083481],
 [8, 253, 25.988436812460424],
 [9, 28, 46.03403934270143],
 [10, 156, 37.53016975164414],
 [11, 11, 42.64298230648041],
 [12, 11, 38.370571904182434],
 [13, 28, 52.02560047388077],
 [14, 156, 38.57963610112667]]

In [183]:
df = all_resumes_to_vacancies(1.125)
df = df.transpose()
df.head()

         0          1          2    ...        387        388        389
0  10.191864  17.151451  18.592872  ...   9.041639  25.683497  14.705404
1   7.330345   7.029097   9.883772  ...   3.629310   7.430760   9.223897
2  10.739697  17.457413  17.774559  ...  10.076575  26.351901  14.228297
3   9.364929  13.303331  14.239824  ...   8.582381  16.035838  14.894086
4  11.427472  19.062099  13.715413  ...   7.879327  16.125704   7.732508

[5 rows x 390 columns]

In [184]:
#df.to_csv('proba_to_vacancy.csv')

### Гипотеза: специалисты по машинному обучению востребованы больше остальных

In [185]:
ml_ids = []
for i in range(len(res_list)):  
  if ('машинное обучение' or ' ml ' or 'машинному обучению' or 'data science' or 'machine learning') in res_list[i].lower():
    ml_ids.append(i)

In [186]:
ml_score = []
other_score = []
for col in df.columns:
  if col in ml_ids:
    temp = df[col].mean()
    ml_score.append(temp)
  else:
    temp = df[col].mean()
    other_score.append(temp)

In [187]:
print('Средний коэф ML специалистов:', sum(ml_score)/len(ml_score))

Средний коэф ML специалистов: 16.1303584691151

In [188]:
print('Средний коэф других специалистов:', sum(other_score)/len(other_score))

Средний коэф других специалистов: 11.373484977933638

### Гипотеза: успешнее ли резюме наиболее эмоциональных кандидатов?

Для начала выберем оптимальное решение распределения

In [189]:
n_01 = []
n_02 = []
n_03 = []
for res in res_values:
  if res[1]<0.135:
    n_01.append(res_values.index(res))
  elif res[1]>=0.135 and res[1]<0.21:
    n_02.append(res_values.index(res))
  else:
    n_03.append(res_values.index(res))
print(len(n_01), len(n_02), len(n_03))

102 142 146

Сделаем выборку кандидатов без коэффициента шума

In [190]:
scores = []
for i in range(len(res_list)):
  resume = re.sub(r"[,\'{}\\\[\]]", "", str(data[i])).replace('xa0',' ')
  indexes_temp = []
  for k in range(len(vacs[:20])):
    vac = vacs[k]
    index_temp = index(resume, vac)
    indexes_temp.append(index_temp)
  scores.append(indexes_temp)

df_h = pd.DataFrame(scores)

In [191]:
df_h = df_h.transpose()

In [192]:
n1 = []
n2 = []
n3 = []
for col in df_h.columns:
  if col in n_01:
    n1.append(df_h[col].mean())
  elif col in n_02:
    n2.append(df_h[col].mean())
  else:
    n3.append(df_h[col].mean())

In [193]:
print('Среднее у 1 группы: ', sum(n1)/len(n1))

Среднее у 1 группы:  6.57501470588235

In [194]:
print('Среднее у 2 группы: ', sum(n2)/len(n2))

Среднее у 2 группы:  9.890309859154932

In [195]:
print('Среднее у 3 группы: ', sum(n3)/len(n3))

Среднее у 3 группы:  9.110208904109589

In [196]:
all_means = []
for col in df_h.columns:
  all_means.append(df[col].mean())

In [198]:
all_emo_val = []
for val in res_values:
  all_emo_val.append(val[1])

In [204]:
from scipy.stats.stats import pearsonr

print('Коэф. корреляции Пирсона:', pearsonr(all_means, all_emo_val)[0], '\np_value:', pearsonr(all_means, all_emo_val)[1])

Коэф. корреляции Пирсона: 0.13625250602313158
p_value: 0.007044946369153215

### Выводы:

Есть небольшая корреляция соответствия резюме вакансиям и тональности резюме